::-webkit-scrollbar {
	display: none;
	width: 0px;
}

#version {
	color: white;
	position: fixed;
	bottom: 0;
	right: 0;
	padding-right: 5px;
	font-size: 1em;
}

html {
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
	touch-action: manipulation;
}

body {
	background-color: #0a0a23;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	scrollbar-width: none;
	height: 100svh;
	overflow: hidden;
}

#banner {
	background-image: url(./assets/astera.webp);
	background-size: cover;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	padding: 10px;
	border-top-left-radius: 5px;
	border-top-right-radius: 100px;
	height: 5svh;
	/* min-height: 60px; */
	/* max-height: 20%; */
}
#game {
	max-width: 600px;
	max-height: 100%;
	background-color: antiquewhite;
	color: #ffffff;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	border-radius: 3px;
	max-height: 80svh;
}
#text {
	background-color: #0a0a23;
	color: #ffffff;
	padding: 10px;
	font-size: 1rem;
	/* text-align: center; */
}

#text-scrollbox {
	max-height: 50svh;
	overflow-y: scroll;
	display: flex;
	flex-direction: column-reverse;
}

#controls,
#stats {
	/* border: 1px solid #0a0a23; */
	color: #0a0a23;
	padding: 5px;
}

#monsterStats {
	border: 1px solid #0a0a23;
	color: #ffffff;
	padding: 5px;
	background: #c70d0d;
	display: none;
}

.stat {
	padding-left: 10px;
	padding-right: 15px;
}
/* buttons styling */
#buttonwrapper1 {
	display: flex;
	justify-content: center;
	gap: 6px;
}
#buttonwrapper2 {
	display: flex;
	justify-content: center;
	padding-top: 6px;
}
button {
	cursor: pointer;
	color: #0a0a23;
	background-color: #feac32;
	background-image: linear-gradient(#fecc4c, #ffac33);
	border: 3px solid #feac32;
	border-radius: 4px;
	height: 80px;
	font-size: 0.85rem;
	font-family: 'Poppins';
	font-weight: 600;
	padding: 10px;
	flex: 1 0 0px;
}
button:hover {
	background: #fecc4c;
	border: 3px solid #feac32;
}
button:active {
	background: #ffac33;
}
#button3 {
	background: #dc3545;
	border: gray 2px solid;
	margin-bottom: 5px;
}
#button3:hover {
	opacity: 80%;
}

/* title and tap to play screen cover */
#cover {
	position: absolute;
	background: #0a0a23;
	margin: 0;
	top: 0;
	left: 0;
	height: 100svh;
	width: 100vw;
	/* opacity:95%; */
	z-index: 10;
	color: white;
	font-family: 'Poppins';
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 30px;
}
#coverTextLarge {
	font-size: 4rem;
	text-align: center;
	text-shadow: 2px 2px gray;
	cursor: pointer;
	opacity: 0.9;
}
#coverTextLarge:hover {
	opacity: 1;
}
#coverTextSmall {
	color: white;
	-webkit-animation: fadein 2s ease-out alternate infinite;
	-moz-animation: fadein 2s ease-out alternate infinite;
	animation: fadein 2s ease-out alternate infinite;
	cursor: pointer;
}
@-webkit-keyframes fadein {
	0% {
		opacity: 0.1;
	}
	100% {
		opacity: 1;
	}
}
@-moz-keyframes fadein {
	0% {
		opacity: 0.1;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fadein {
	0% {
		opacity: 0.1;
	}
	100% {
		opacity: 1;
	}
}

/* media queries */
@media (max-width: 450px) {
	#buttonwrapper1 {
		flex-direction: column;
		min-height: 150px;
	}
	.stat {
		display: block;
	}
	#text {
		font-size: 80%;
	}
	#text-scrollbox {
		max-height: 30svh;
	}
	#banner {
		border-top-right-radius: 5px;
	}
}

@media (max-width: 360px) {
	#text {
		font-size: 70%;
	}
	#text-scrollbox {
		max-height: 25svh;
	}
}
