::-webkit-scrollbar {
	display: none;
	width: 0px;
}

* {
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

body {
	background-color: #0a0a23;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 1.4rem;
	scrollbar-width: none;
}

#cover {
	position: absolute;
	background: #0a0a23;
	margin: 0;
	top: 0;
	left: 0;
	min-height: 100%;
	height: 100vh;
	width: 100vw;
	/* opacity:95%; */
	z-index: 10;
	color: white;
	font-family: 'Poppins';
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 30px;
}

#coverTextLarge {
	font-size: 4rem;
	text-align: center;
	text-shadow: 2px 2px gray;
	cursor: pointer;
	opacity: 0.9;
}
#coverTextLarge:hover {
	opacity: 1;
}
@-webkit-keyframes fadein {
	0% {
		opacity: 0.1;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes fadein {
	0% {
		opacity: 0.1;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadein {
	0% {
		opacity: 0.1;
	}
	100% {
		opacity: 1;
	}
}

#coverTextSmall {
	color: white;
	-webkit-animation: fadein 2s ease-out alternate infinite;
	-moz-animation: fadein 2s ease-out alternate infinite;
	animation: fadein 2s ease-out alternate infinite;
	cursor: pointer;
}
#text {
	background-color: #0a0a23;
	color: #ffffff;
	padding: 10px;
	font-size: 1.3rem;
	/* text-align: center; */
}

#banner {
	background-image: url(./assets/astera.webp);
	background-size: cover;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	/* margin-top: 40px; */
	margin-bottom: 0px;
	padding: 10px;
	min-height: 100px;
	border-top-left-radius: 5px;
	border-top-right-radius: 100px;
}
#game {
	max-width: 500px;
	background-color: antiquewhite;
	color: #ffffff;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	border-radius: 3px;
	max-height: 100%;
}

#controls,
#stats {
	/* border: 1px solid #0a0a23; */
	color: #0a0a23;
	padding: 5px;
}

#monsterStats {
	border: 1px solid #0a0a23;
	color: #ffffff;
	padding: 5px;
	background: #c70d0d;
	display: none;
}

.stat {
	padding-left: 10px;
	padding-right: 15px;
}

#buttonwrapper1 {
	display: flex;
	justify-content: center;
	gap: 4px;
}
#buttonwrapper2 {
	display: flex;
	justify-content: center;
	padding-top: 5px;
}
button {
	cursor: pointer;
	color: #0a0a23;
	background-color: #feac32;
	background-image: linear-gradient(#fecc4c, #ffac33);
	border: 3px solid #feac32;
	border-radius: 4px;
	height: 80px;
	font-size: 0.75em;
	font-family: 'Poppins';
	font-weight: 600;
	padding: 10px;
	flex: 1 0 0px;
}

button:hover {
	background: #fecc4c;
	border: 3px solid #feac32;
}

button:active {
	background: #ffac33;
}

#button3 {
	background: #dc3545;
	border: gray 2px solid;
	margin-bottom: 5px;
}

#button3:hover {
	opacity: 80%;
}

@media (max-width: 590px) {
	html {
		font-size: 80%;
	}
	#buttonwrapper1 {
		flex-direction: column;
		min-height: 150px;
	}
	button {
		font-size: 1.3rem;
	}
	.stat {
		display: block;
	}
}
@media (max-width: 400px) {
	html {
		font-size: 65%;
	}

	#stats {
		font-size: 1.5rem;
	}
}

@media (max-width: 220px) {
	html {
		font-size: 50%;
	}
}
